* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 800px;
}

body {
	display: flex;
	justify-content: center;
	background-color: #e5e5e5;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 30px;
}

ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	column-gap: 15px;
}
img {
	width: 100%;
	height: auto;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	padding-bottom: 100px;
}

article {
	background-color: white;
	box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
	padding: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

article:first-child {
	grid-column: span 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 30px;
	font-size: 250%;
	font-weight: bold;
}

article:nth-child(2) {
	grid-column: span 2;
	grid-row: span 2;
	font-size: 200%;
}

@media screen and (max-width: 700px) {
	main {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 30px;
	}
	nav {
		display: none;
	}
	header {
		justify-content: center;
	}

	article:first-child {
		grid-column: span 2;
		font-size: 1.5em;
	}

	article:nth-child(2) {
		grid-column: span 1;
		grid-row: span 1;
		font-size: 1em;
	}
}
